<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<shutdownHook/>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
 	   	<encoder>
      		<pattern>%d{HH:mm:ss.SSS} - %level - %msg%n</pattern>
    	</encoder>
	</appender>

	<root name="gui.testes.camel" level="debug">
		<appender-ref ref="Console" />
	</root>
	<root name="org.apache.camel" level="warn">
		<appender-ref ref="Console" />
	</root>
	<root level="info">
		<appender-ref ref="Console" />
	</root>

</configuration>